<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoWeet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwifteriOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26B77A4A19C71CE800A40560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26B77A6119C71CE800A40560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26EA76B219C9C5730080B657</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26EA76BC19C9C5730080B657</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
